* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  width: 100%;
  background-color: white;
  color: rgb(0,191,255);
  display: flex;
  padding: 2rem;
}

.navigation {
  display: flex;
  padding-right: 5rem;
}

.navul {
  border: 1px solid green;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.navul li {
  list-style: none;
  gap: 2rem;
  padding: 3px;
}