@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  padding-bottom: 3rem;
  margin: 0;
  background-color: wheat;
}

.head {
  width: 87.5rem;
  display: flex;
  height: 5.938rem;
  align-items: center;
  margin: 0 0 2.375rem;
  padding: 1.438rem 2.188rem 1.688rem 9rem;
  background-color: #0f2043;
}

.head h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.navigation {
  display: flex;
  padding-right: 5rem;
  align-items: center;
  gap: 20px;
  padding-left: 5rem;
}

.icon {
  position: absolute;
  right: 10%;
  font-size: 30px;
}

.link {
  text-decoration: none;
  list-style: none;
  gap: 2rem;
  color: #79cede;
  padding: 3px;
}

.bookLi {
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  justify-content: space-between;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  display: flex;
  border-radius: 4px;
  align-items: center;
  border: solid 1px var(--white);
  background-color: #0f2043;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  text-transform: capitalize;
}

.title {
  height: 1.813rem;
  text-transform: capitalize;
  margin: 0.188rem 20.188rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: white;
}

.author {
  height: 1.188rem;
  text-transform: capitalize;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.comment {
  width: 4.563rem;
  cursor: pointer;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: transparent;
}

.chapters {
  display: flex;
  flex-direction: column;
}

.curchap {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.chap {
  width: 5.625rem;
  height: 1.313rem;
  margin: 0.438rem 5.875rem 0.25rem 3.688rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: white;
}

.update {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: #d5a458;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.complete {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.completediv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.percent {
  width: 2.938rem;
  height: 2.438rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formdiv h3 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: gray;
}

.formdiv {
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 8.25rem 0;
  justify-content: space-between;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

.input {
  width: 20.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.cat {
  width: 7.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.subm {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.circle-wrap {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4386bf;
}

.circle-wrap .inside-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 5.5px;
  left: 5.5px;
  background-color: #0f2043;
}

.progress {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #0f2043;
}

.catdiv {
  height:70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.catdiv p {
    width: 11.5rem;
    height: 2.063rem;
    margin: 0.75rem 0 0.563rem 3.688rem;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.813rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    color: #0f2043;
}